.container{
  margin-bottom: 100px;
}
.bg-col-st{
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.price{
  color: #ff136f;
}
.buy-now-btn{
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1{
  background-color: orange;
}
.cat2{
  background-color: #ff136f;
}
.cat3{
  background-color: blue;
}
.cat1, .cat2, .cat3{
  padding: 10px 20px;
  border-radius: 10px;
}
.categories h1{
  color: white;
}
.card{
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
  background: white;
  border: none;
}
#subscribe{
  height: 300px;
}
#subscribe h6{
  color: gray;
}
footer{
  text-align: center;
}